.customTrigger {
    background-color: transparent;
    padding: 4px 8px;

    border-radius: 20%;

    &:hover {
        background-color: oklch(92.2% 0 0 / 0.5);
        cursor: pointer;
    }

    svg:last-child {
        display: none;
    }
}

.collapsedSidebarHeader {
    justify-content: center;
    align-items: center;
}